@{
    ViewData["Title"] = "iMaxis";
}


    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-success" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="~/lib/img/imaxis-portada.jpg" alt="" width="200">
            
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto">

                        <li class="nav-item"><h1><a class="nav-link active" aria-current="page" href="#"> Inicio </a></h1></li>
                        <li class="nav-item"><h1><a class="nav-link" href="#">Catalogo</a></h1></li>
                        <li class="nav-item"><h1><a class="nav-link" href="#">Contacto</a></h1></li>
                        <li class="nav-item"><h1><a class="nav-link" href="#">Informacion</a></h1></li>
                        <li class="nav-item"><h1><a class="nav-link" href="#">About</a>  </h1></li>

                </ul>

            </div>

        </div>
    </nav>

    <!-- CAROUSEL-->
    <div id="mainSlider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item ">
                <img src="~/lib/img/port.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
                <img src="~/lib/img/portada1.png" class="d-block w-100"  alt="..." >
            </div>
            <div class="carousel-item ">
                <img src="~/lib/img/portada3.PNG" class="d-block w-100" alt="..." height="500">
            </div>
        </div>
    </div><!-- CAROUSEL-->
    <!-- RIBBON-->
    <div id="ribbon">
        <div id="birthday" class="container w-50 pl-5 pr-5 rounded-lg">
            <!-- slide -->
            <div class="row align-items-center">
                <div class="col-sm col-sm p-3" id="description">
                    <img src="~/lib/img/image01.png" class="w-75 mx-auto d-block" alt="...">
                </div>

                <div class="col-sm p-3 text-light text-center">
                    <p class="text-warning h3">Ofertas de hoy</p>
                    <h4 class="h2 text-shadow">Cualquier informacion contactenos</h4>
                </div>
            </div><!-- SLIDE-->
        </div>
    </div>

        <!-- RIBBON-->


    <!-- SEPARATOR RIBBON-->
    <div id="separator-ribbon">
        <div class="content bg-dark"></div>
    </div>

    <!-- GAMES-->
    <div id="games">
        <div class="container-md p-5">

            <div class="row pt-5">
                <h3 class="text-center pb-5 pt-5 h1">Celulares De Alta Gama</h3>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="card w-100 card-border mb-5">
                        <img src="~/lib/img/IPHONE7PLUS.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card w-100 card-border mb-5">
                        <img src="~/lib/img/card02.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card w-100 card-border mb-5">
                        <img src="~/lib/img/card03.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-5">
                <div class="col">
                    <h3 class="text-center" style="color: var(--bs-blue)">More games on Nintendo.com:</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2"><a href="#">Nintendo Switch</a></div>
                <div class="col-2"><a href="#">Nintendo 3DS</a></div>
                <div class="col-1"><a href="#">Wii U</a></div>
                <div class="col-1"><a href="#">Mobile</a></div>
                <div class="col-1"><a href="#">Retro</a></div>
            </div>
        </div>
    </div>
        </div>


    <div id="separator-amiibos">
        <div class="content bg-success"></div>
    </div>

    <div id="amiibos" class="px-5 pb-5 bg-success">
        <div class="container">
            <div class="row">
                <h2 class="text-center text-white text-shadow h1">Featured Amiibo™ figures</h2>
            </div>
            <div class="row row-cols-1 row-cols-2 row-cols-sm-2 row-cols-md-4">
                <div class="col-sm">
                    <img src="~/lib/img/figure01.png" alt="" class="w-100 amiibo">
                    <div class="text-center"><span class="amiibo-name h5 p-2">Isabelle</span></div>
                </div>
                <div class="col-sm">
                    <img src="~/lib/img/figure02.png" alt="" class="w-100 amiibo">
                    <div class="text-center"><span class="amiibo-name h5 p-2">Kapp'n</span></div>
                </div>
                <div class="col-sm">
                    <img src="~/lib/img/figure03.png" alt="" class="w-100 amiibo">
                    <div class="text-center"><span class="amiibo-name h5 p-2">Rover</span></div>
                </div>
                <div class="col-sm">
                    <img src="~/lib/img/figure04.png" alt="" class="w-100 amiibo">
                    <div class="text-center"><span class="amiibo-name h5 p-2">Timmy & Tommy</span></div>
                </div>
            </div>
            <div class="row py-5">
                <div class="col text-center">
                    <a href="#" class="link-dark">
                        <button class="btn btn-warning btn-lg rounded-pill p-3 font-weight-bold">View Amiibo catalog</button>
                    </a>

                </div>

            </div>
        </div>
        <div id="separator-amiibos-footer">
        </div>
    </div>


    <!-- Play Nintendo-->
    <div id="play">
        <div class="container-sm p-5">
            <h3 class="text-center h1">Isabelle and friends on Play Nintendo</h3>
            <div class="row justify-content-center align-items-center">
                <div class="col-3 d-none d-md-block">
                    <img src="~/lib/img/isabelle.png" class="w-100">
                </div>
                <div class="col-9">
                    <div class="row justify-content-md-center">
                        <div class="col p-1">
                            <div class="card bg-primary text-white">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="~/lib/img/ph-01.jpg" class="w-100" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below.</p>
                                        </div><!--card-body-->
                                    </div><!--col-->
                                </div><!--row-->
                            </div><!--CARD-->
                        </div><!--col-->

                        <div class="col p-1">
                            <div class="card bg-warning text-white">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title 2</h5>
                                            <p class="card-text">This is a wider card with supporting text below.</p>
                                        </div><!--card-body-->
                                    </div>
                                    <div class="col-md-6">
                                        <img src="~/lib/img/ph-02.jpg" class="w-100" alt="...">
                                    </div><!--col-->
                                </div><!--row-->
                            </div><!--CARD-->
                        </div>
                    </div>
                    <div class="row  justify-content-md-center">
                        <div class="col p-1">
                            <div class="card bg-danger text-white">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="~/lib/img/ph-03.jpg" class="w-100" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below.</p>
                                        </div><!--card-body-->
                                    </div><!--col-->
                                </div><!--row-->
                            </div><!--CARD-->
                        </div>
                        <div class="col p-1">
                            <div class="card bg-success text-white">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below.</p>
                                        </div><!--card-body-->
                                    </div>
                                    <div class="col-md-6">
                                        <img src="~/lib/img/ph-04.jpg" class="w-100" alt="...">
                                    </div><!--col-->
                                </div><!--row-->
                            </div><!--CARD-->
                        </div>
                    </div>
                </div>
            </div>






















            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>





































            <div class="flickity-viewport" style="height: 271.283px; touch-action: pan-y;">
                <div class="flickity-slider" style="left: 0px; transform: translateX(-50.3%);">



                    <div class="carousel__cell" style="width: 25%; margin-right: 16px; position: absolute; left: 0%;" aria-hidden="true">



                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/carbon-gtr-all-terrain">
                            <img alt="Carbon GTR All Terrain" src="//cdn.shopify.com/s/files/1/0232/5683/products/GTR_Carbon_AT_Main_325x.jpg?v=1610491283">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Carbon GTR All Terrain</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$1,899.00 USD</span></p>

                        <a title="Carbon GTR All Terrain" aria-hidden="true" href="/products/carbon-gtr-all-terrain" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div>



                    <div class="carousel__cell" style="width: 25%; margin-right: 16px; position: absolute; left: 52.9%;" aria-hidden="true">

                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/bamboo-gtr-street">
                            <img alt="Bamboo GTR Street" src="//cdn.shopify.com/s/files/1/0232/5683/products/GTR_Bamboo_ST_Main_03ed10cd-47a3-4f66-9836-2b2e3416bb51_325x.jpg?v=1610491287">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Bamboo GTR Street</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$1,549.00 USD</span></p>

                        <a title="Bamboo GTR Street" aria-hidden="true" href="/products/bamboo-gtr-street" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div><div class="carousel__cell" style="width: 25%; margin-right: 16px; position: absolute; left: 79.35%;" aria-hidden="true">

                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/carbon-gtr-street">
                            <img alt="Carbon GTR Street" src="//cdn.shopify.com/s/files/1/0232/5683/products/GTR_Carbon_ST_Main_3d50d693-2392-4620-b899-e0778c8af8c5_325x.jpg?v=1610491327">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Carbon GTR Street</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$1,899.00 USD</span></p>

                        <a title="Carbon GTR Street" aria-hidden="true" href="/products/carbon-gtr-street" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div><div class="carousel__cell is-selected" style="width: 25%; margin-right: 16px; position: absolute; left: 105.8%;">

                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/bamboo-gtr-2in1">
                            <img alt="Bamboo GTR 2in1" src="//cdn.shopify.com/s/files/1/0232/5683/products/GTR_Carbon_2in1_Main_325x.jpg?v=1611032581">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Bamboo GTR 2in1</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$1,799.00 USD</span></p>

                        <a title="Bamboo GTR 2in1" aria-hidden="true" href="/products/bamboo-gtr-2in1" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div><div class="carousel__cell" style="width: 25%; margin-right: 16px; position: absolute; left: 132.25%;" aria-hidden="true">

                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/carbon-gtr-2in1">
                            <img alt="Carbon GTR 2in1" src="//cdn.shopify.com/s/files/1/0232/5683/products/GTR_Carbon_AT_Main_ba6417a1-80d7-40de-b6e5-922f08353494_325x.jpg?v=1610491291">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Carbon GTR 2in1</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$2,149.00 USD</span></p>

                        <a title="Carbon GTR 2in1" aria-hidden="true" href="/products/carbon-gtr-2in1" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div>

                    <div class="carousel__cell" style="width: 25%; margin-right: 16px; position: absolute; left: 148.71%;" aria-hidden="true">

                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/stoke">
                            <img alt="Stoke" src="//cdn.shopify.com/s/files/1/0232/5683/products/Stoke_Orange_Main_copy_325x.jpg?v=1610491310">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Stoke</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$1,199.00 USD</span></p>

                        <a title="Stoke" aria-hidden="true" href="/products/stoke" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div>
                </div>
            </div>
            <div class="flickity-viewport" style="height: 271.283px; touch-action: pan-y;">
                <div class="flickity-slider" style="left: 0px; transform: translateX(-68.3%);">
                    <div class="carousel__cell" style="width: 25%; margin-right: 16px; position: absolute; left: 0%;" aria-hidden="true">

                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/bamboo-gtr-all-terrain">
                            <img alt="Bamboo GTR All Terrain" src="//cdn.shopify.com/s/files/1/0232/5683/products/GTR_Bamboo_Main_325x.jpg?v=1610491285">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Bamboo GTR All Terrain</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$1,549.00 USD</span></p>

                        <a title="Bamboo GTR All Terrain" aria-hidden="true" href="/products/bamboo-gtr-all-terrain" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div><div class="carousel__cell" style="width: 25%; margin-right: 16px; position: absolute; left: 26.45%;" aria-hidden="true">

                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/carbon-gtr-all-terrain">
                            <img alt="Carbon GTR All Terrain" src="//cdn.shopify.com/s/files/1/0232/5683/products/GTR_Carbon_AT_Main_325x.jpg?v=1610491283">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Carbon GTR All Terrain</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$1,899.00 USD</span></p>

                        <a title="Carbon GTR All Terrain" aria-hidden="true" href="/products/carbon-gtr-all-terrain" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div><div class="carousel__cell" style="width: 25%; margin-right: 16px; position: absolute; left: 52.9%;" aria-hidden="true">

                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/bamboo-gtr-street">
                            <img alt="Bamboo GTR Street" src="//cdn.shopify.com/s/files/1/0232/5683/products/GTR_Bamboo_ST_Main_03ed10cd-47a3-4f66-9836-2b2e3416bb51_325x.jpg?v=1610491287">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Bamboo GTR Street</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$1,549.00 USD</span></p>

                        <a title="Bamboo GTR Street" aria-hidden="true" href="/products/bamboo-gtr-street" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div><div class="carousel__cell" style="width: 25%; margin-right: 16px; position: absolute; left: 79.35%;" aria-hidden="true">

                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/carbon-gtr-street">
                            <img alt="Carbon GTR Street" src="//cdn.shopify.com/s/files/1/0232/5683/products/GTR_Carbon_ST_Main_3d50d693-2392-4620-b899-e0778c8af8c5_325x.jpg?v=1610491327">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Carbon GTR Street</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$1,899.00 USD</span></p>

                        <a title="Carbon GTR Street" aria-hidden="true" href="/products/carbon-gtr-street" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div><div class="carousel__cell is-selected" style="width: 25%; margin-right: 16px; position: absolute; left: 105.8%;">

                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/bamboo-gtr-2in1">
                            <img alt="Bamboo GTR 2in1" src="//cdn.shopify.com/s/files/1/0232/5683/products/GTR_Carbon_2in1_Main_325x.jpg?v=1611032581">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Bamboo GTR 2in1</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$1,799.00 USD</span></p>

                        <a title="Bamboo GTR 2in1" aria-hidden="true" href="/products/bamboo-gtr-2in1" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div><div class="carousel__cell" style="width: 25%; margin-right: 16px; position: absolute; left: 132.25%;" aria-hidden="true">

                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/carbon-gtr-2in1">
                            <img alt="Carbon GTR 2in1" src="//cdn.shopify.com/s/files/1/0232/5683/products/GTR_Carbon_AT_Main_ba6417a1-80d7-40de-b6e5-922f08353494_325x.jpg?v=1610491291">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Carbon GTR 2in1</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$2,149.00 USD</span></p>

                        <a title="Carbon GTR 2in1" aria-hidden="true" href="/products/carbon-gtr-2in1" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div>

                    <div class="carousel__cell" style="width: 25%; margin-right: 16px; position: absolute; left: 148.71%;" aria-hidden="true">

                        <!-- SALES ICON -->
                        <style>
                            .sales-icon-custom {
                                margin-top: 20px !important;
                                margin-left: 20px !important;
                                position: absolute !important;
                                float: left;
                                z-index: 1 !important;
                                width: 20% !important;
                            }
                        </style>

                        <!-- END SALES ICON -->

                        <a href="/products/stoke">
                            <img alt="Stoke" src="//cdn.shopify.com/s/files/1/0232/5683/products/Stoke_Orange_Main_copy_325x.jpg?v=1610491310">
                        </a>

                        <h2 class="product-card__title" style="margin: 0;">Stoke</h2>
                        <div data-oke-reviews-product-listing-rating=""></div>

                        <p class="block-product__product-price" style="margin: 5px auto 10px;"><span class="money">$1,199.00 USD</span></p>

                        <a title="Stoke" aria-hidden="true" href="/products/stoke" class="btn" style="width:auto!important;margin:0 auto;padding: 3px 15px;font-size: 0.9rem;background-color: #ffffff;color: #111111;border: 1px solid #111111;border-radius: 6px;font-weight: 700;">More info</a>
                    </div>
                </div>
            </div>


        </div>




